//Fonts
$sans-serif-1: 'Roboto', sans-serif;
$sans-serif-2: Arial Black, sans-serif;
$serif-1: 'Times New Roman', serif ;
//$mono: ;

//Font-weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;