//Colors
$txt-primary: $black;
$title-primary: $black;

p {
    font-family: $sans-serif-2;
    color: $txt-primary;
    line-height: 2.1em;
    font-size: 1.1em;
}

hr {
    width: 20%; 
    height: 0; 
    background: black;
}

h1, h2, h3, h4, h5 {
    color: $title-primary;
}

h1 {
    font-family: $sans-serif-1;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight:$semibold;
    text-align: center;
    padding-bottom: 50px;
      }

h2 {
    font-family: $sans-serif-2;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: $light;
}

h3 {
    font-family: $sans-serif-1;
    font-size: 1.5em;
    text-transform: capitalize;
  }
  
h4 {
    font-family: $sans-serif-1;
    font-size: 1.5em;
  }