button,
.c-button {
  align-content: center;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.3em;
  font-family: Lato;
  font-weight: 600;
  border-radius: 3px;
  border: solid 2px #000;
  padding: 15px 30px 15px 30px;
  transition: 0.3s;
  width: fit-content;
  &:hover {
    background-color: #000;
    border: solid 2px #000;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
  }
  &:active {
    background-color: #fff;
    border: solid 2px #000;
    color: #000;
    cursor: pointer;
  }
}